<link rel="stylesheet" href="/css/user_profile.css">
<h1> 
    codeial / profile page
</h1>

<p> Name:<%= profile_user.name%></p>
<p>email:<%=profile_user.email%></p>
 <%if(user.id==profile_user.id){%>
      
    <!-- if user is match then show profile page -->

      <form action="/users/update/<%= profile_user.id %>" method="POST">
    
      <input type="text" name="name" placeholder="Your Name" value="<%=profile_user.name%>" required>
      <input type="email" name="email" placeholder="Your Email" value="<%=profile_user.email%>" required>
     <input type="submit" value="Update">
     </form> 


     <%}else{%>
    <!-- else show only the profile info -->
    
    <p> Name:<%= profile_user.name%></p>
    <p>email:<%=profile_user.email%></p>

%<}%> 